.inicio-chegada {
    font: bold 20pt Arial;
    background: rgb(53, 184, 140);
    color: white;
    width: 150px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    border-radius: 10px;
}

.labirinto {
    background-color: white;
    width: 500px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
}

#campo {
    /* width: 600px;
    height: 600px; */
    height: 80vh;
    width: 90%;
    background: black;
    margin: 3% auto;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#status {
    background-color: white;
    position: fixed;
    width: 40%;
    height: 50%;
    border-radius: 25px;
    text-align: center;
    display: none;

}

#statusTitulo {
    font-size: 50pt;
}

#btnStatus {
    background-color: red;
    color: white;
    border-style: none;
    margin: 2% 0.5%;
    cursor: pointer;
    padding: 2% 6%;
    font-size: 18pt;
    border-radius: 25px;
}

#tituloFase {
    margin-left: 5%;
}