.campo {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labirinto {
    /* background-color: white; */
    background-color: aqua;
    padding: 2%;
    width: 80%;
}

#status {
    background-color: white;
    position: fixed;
    width: 40%;
    height: 50%;
    border-radius: 25px;
    text-align: center;
    display: none;
}

#status-titulo {
    font-size: 50pt;
}

#btnTentarNovamente {
    background-color: red;
    color: white;
    border-style: none;
    margin: 2% 0.5%;
    cursor: pointer;
    padding: 2% 6%;
    font-size: 18pt;
    border-radius: 25px;
}