#status {
    background-color: white;
    position: fixed;
    width: 40%;
    height: 50%;
    border-radius: 25px;
    text-align: center;
    display: none;
}

#status-titulo {
    font-size: 50pt;
}

#btnTentarNovamente {
    background-color: red;
    color: white;
    border-style: none;
    margin: 2% 0.5%;
    cursor: pointer;
    padding: 2% 6%;
    font-size: 18pt;
    border-radius: 25px;
}

#campo {
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.labirinto {
    background-color: white;
    width: 70%;
    height: 55px;
    display: flex;
    justify-content: space-between;
}

#inicio {
    /* width: 55px; */
    /* height: 55px; */
    background-color: aqua;
    padding: 15px;
    /* color: white; */
    font-weight: bold;
    font-size: 16pt;
}

#chegada {
    background-color: aqua;
    padding: 15px;
    font-weight: bold;
    font-size: 16pt;
    width: 15%;
}